//radio-group
.el-radio-group
{
	gap: 11px;
	.el-radio-button.el-radio-button--large
	{
		border: 1px solid $default-border-color;
		border-radius: 50%;
		height: 45px;
		width: 45px;
		transition: var(--el-transition-all);
		&.is-active,
		&:hover
		{
			border-color: $accent-color
		}
	}
	.el-radio-button.el-radio-button--large .el-radio-button__inner
	{
		border:none;
		border-radius: 50%;
		width: 100%;
		height: 100%;
		line-height: 44px;
		padding: 0;
	}
}
//pagination
.el-pager li {font-weight: 600}

.el-popper.is-card
{
	background: $accent-color;
	color: $white;
}
.el-popper.is-card .el-popper__arrow::before
{
	background: $accent-color;
}

.el-popper.is-tag
{
	color: $blue-second;
	background: $blue-light;
	padding: 6px 16px;
	white-space: pre-wrap;
}
.el-popper.is-tag .el-popper__arrow::before
{
	background: transparent;
}

// el-dialog

div.el-dialog
{
	margin: 0;
	width: 100%;
	min-height: 100%;
	.el-dialog__header
	{
		padding: 0;
		margin: 0;
	}
	.el-dialog__body {padding: 60px 16px; }
	.g-dialog-close-button
	{
		position: absolute;
		right: 18px;
		top: 18px;
		border-radius: 50%;
		font-size: 0;
		overflow: hidden;
		border: 1px solid $default-border-color;
		height: 41px;
		width: 41px;
		&:hover
		{
			border: 1px solid $gray;
		}
	}
	.el-dialog__footer
	{
		padding: 60px 16px;
		background: #EFF2F9;
		text-align: unset;
	}
}
@media (min-width:  $tablet)
{
	div.el-dialog
	{
		margin: 80px 40px;
		width: calc(100% - 80px);
		min-height: unset;
		.el-dialog__body,
		.el-dialog__footer
		{padding: 80px 60px;}
	}
}
@media (min-width:  $desktop)
{
	div.el-dialog
	{		
		margin: 62px 100px;
		width: calc(100% - 200px);

		.el-dialog__footer
		{padding: 60px;}
	}
}
@media (min-width:  $widescreen)
{
	div.el-dialog
	{
		margin: 200px 190px;
		width: calc(100% - 380px);

		.el-dialog__body,
		.el-dialog__footer
		{padding: 120px 80px;}
	}
}