
//radio-group
.el-radio-group
{
	gap: 11px;
	.el-radio-button.el-radio-button--large
	{
		border: 1px solid $default-border-color;
		border-radius: 50%;
		height: 45px;
		width: 45px;
		transition: var(--el-transition-all);
		&.is-active,
		&:hover
		{
			border-color: $accent-color
		}
	}
	.el-radio-button.el-radio-button--large .el-radio-button__inner
	{
		border:none;
		border-radius: 50%;
		width: 100%;
		height: 100%;
		line-height: 44px;
		padding: 0;
	}
}
