$colors: (
  "primary": (
    "base": #FFC700,
  ),
  "success": (
    "base": #21ba45,
  ),
  "warning": (
    "base": #f2711c,
  ),
  "danger": (
    "base": #db2828,
  ),
  "error": (
    "base": #db2828,
  ),
  "info": (
    "base": #42b8dd,
  ),
);

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: $colors,
  $button-padding-horizontal: ("default": 50px),
  $common-component-size: ("large": 46px),
  $select: ("input-font-size": 8px),
  $radio-button: ("input-border-radius": 50%),
  $slider: (
    "height": 1px,
    "button-size" : 12px,
    'button-wrapper-offset': -17px,
    ),
  $pagination: (
   'button-width': 17px,
   'button-height': 27px,
   "font-size": 18px 
  ),
);
